
 html {
    line-height: 1.15;
       -webkit-text-size-adjust: 100%;

  }

 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4b0505;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5rem;
    line-height: 1.25;
    font-size: 2rem;
  }
   p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
  }
  
  ul,
  ol,
  dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  label {
    display: inline-block;
  }
  
  input,
  select,
  textarea,
  button {
    margin: 0;
  }
  
  .p-0 {
    padding: 0;
  }
  
  .p-1 {
    padding: 0.375rem;
  }
  
  .p-2 {
    padding: 0.625rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .p-4 {
    padding: 1.375rem;
  }
  
  .p-5 {
    padding: 1.625rem;
  }
  
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .text-lowercase {
    text-transform: lowercase !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-justify {
    text-align: justify !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-primary {
    color: #2d3e50 !important;
  }
  
  .text-info {
    color: #1bbc9b !important;
  }
  
  .text-danger {
    color: #e64c66 !important;
  }
  
  .text-default {
    color: #aeaeae !important;
  }
  
  .text-light {
    color: #d9e9e8 !important;
  }
  
  .text-dark {
    color: #1a1a1a !important;
  }
  */
  
  .display-none {
    display: none !important;
  }
  
  .display-block {
    display: block !important;
  }
  
  .display-inline-block {
    display: inline-block !important;
  }
  
  .display-inline {
    display: inline !important;
  }
  
  .display-flex {
    display: flex !important;
  }
  
  .btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  .block {
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
  }
  
  .block .block-header {
    padding: 0.375rem;
    background-color: #2d3e50;
    color: #d9e9e8;
  }
  
  .block .block-body {
    padding: 0.375rem;
  }
  
  .block .block-footer {
    border-top: 1px solid #1a1a1a;
    padding: 0.375rem;
  }
  
  .block.block-rounded {
    border-radius: 0.3rem;
  }
  
  .block.block-rounded .block-header {
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  form {
    width: 100%;
  }
  
  form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
  }
  
  form .form-input,
  form .form-textarea {
    display: block;
  }
 
  form label,
  form .form-label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.625rem 0 0.25rem 0.3rem;
  }
  
  form .form-input {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
  }
  
  form .form-input.form-input-squared {
    border-radius: 0;
  }
  
  form [type='checkbox'],
  form [type='radio'] {
    display: inline-block;
  }
  
  label form [type='checkbox'],
  label form [type='radio'] {
    display: inline-block;
  }
  
  .container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container.header {
    width: 92%;
  }
  

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  [class*='col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  @media screen and (min-width: 640px) {
    .col-sm-auto {
      flex-grow: 1;
      flex-basis: 0;
    }

  @media screen and (min-width: 768px) {
    .col-md-auto {
      flex-grow: 1;
      flex-basis: 0;
    }

 
  @media screen and (min-width: 992px) {
    .col-md-auto {
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .col-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
    .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
    .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
    .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
    .col-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
    .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .justify-space-between-lg {
      justify-content: space-between;
    }
    .justify-space-around-lg {
      justify-content: space-around;
    }
    .justify-flex-start-lg {
      justify-content: flex-start;
    }
    .justify-flex-end-lg {
      justify-content: flex-end;
    }
    .justify-center-lg {
      justify-content: center;
    }
    .align-start-lg {
      align-items: flex-start;
    }
    .align-stretch-lg {
      align-items: stretch;
    }
    .align-end-lg {
      align-items: flex-end;
    }
    .align-center-lg {
      align-items: center;
    }
    .align-content-start-lg {
      align-content: flex-start;
    }
    .align-content-stretch-lg {
      align-content: stretch;
    }
    .align-content-end-lg {
      align-content: flex-end;
    }
    .align-content-center-lg {
      align-content: center;
    }
  }
  
  /* col-xl */
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
    .col-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
    .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
    .col-xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
    .col-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
    .col-xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
    .col-xl-11 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .justify-space-between-xl {
      justify-content: space-between;
    }
    .justify-space-around-xl {
      justify-content: space-around;
    }
    .justify-flex-start-xl {
      justify-content: flex-start;
    }
    .justify-flex-end-xl {
      justify-content: flex-end;
    }
    .justify-center-xl {
      justify-content: center;
    }
    .align-start-xl {
      align-items: flex-start;
    }
    .align-stretch-xl {
      align-items: stretch;
    }
    .align-end-xl {
      align-items: flex-end;
    }
    .align-center-xl {
      align-items: center;
    }
    .align-content-start-xl {
      align-content: flex-start;
    }
    .align-content-stretch-xl {
      align-content: stretch;
    }
    .align-content-end-xl {
      align-content: flex-end;
    }
    .align-content-center-xl {
      align-content: center;
    }
  }
  
  .five-day-block {
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .weather-img {
    border-style: none;
    vertical-align: middle;
  }
  
  .history-btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .search-button {
    /* text-align: inherit; */
    margin: 0.5rem;
    width: 100%;
    background-color: #5098e6;
    color: #d9e9e8;
  }
  
  .weather-search {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem !important;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
  }
  
  #form-heading {
    margin: 0.5rem;
  }
  
  .weather-hr {
    margin-left: 0.5rem;
    width: 100%;
  }
  
  .weather {
    background: #20084a;
    background: -webkit-linear-gradient(right, #20084a, #3463bc);
    background: -moz-linear-gradient(right, #20084a, #3463bc);
    background: linear-gradient(to left, #20084a, #3463bc);
  }